In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
o=pd.read_csv('C:\\Users\\Admin\\Desktop\\Skill Circle\\dataset\\oyorooms.csv')

In [3]:
o

,Unnamed: 0,HOTEL NAME,LOCALITY,REGION,OLD PRICE,PRICE AFTER DISCOUNT,% DISCOUNT,STATUS
0,0,OYO Premium 529 Jasola Vihar,"Pocket-2, Jasola",Delhi,₹ 2649,₹ 1987,25% OFF,Available
1,1,OYO Flagship 485 GK2 Savitri Cinema,"E Block,GK2",Delhi,₹ 3149,₹ 2362,25% OFF,Available
2,2,OYO Flagship 573 Paharganj NDLS,"Arakashan Road, Paharganj",Delhi,₹ 1799,₹ 1349,25% OFF,Available
3,3,OYO Flagship 513 Delhi Airport,"A Block,Mahipalpur Extension",Delhi,₹ 1999,₹ 1499,25% OFF,Available
4,4,OYO Premium 055 New Friends Colony Ring Road,CV Raman Marg,Delhi,₹ 3899,₹ 2924,25% OFF,Available
...,...,...,...,...,...,...,...,...
326,326,OYO Premium 346 Connaught Place 2,Connaught Place,Delhi,₹ 2599,₹ 1949,25% OFF,SOLD OUT
327,327,OYO Rooms 167 Safdarjung Extension,Safdarjung,Delhi,₹ 1599,₹ 1199,25% OFF,SOLD OUT
328,328,OYO Rooms 222 Karol Bagh Metro Station 3,Karol Bagh,Delhi,₹ 1949,₹ 1462,25% OFF,SOLD OUT
329,329,OYO Rooms 398 South Extension 2,South Extension-ll,Delhi,₹ 2299,₹ 1724,25% OFF,SOLD OUT
330,330,OYO Rooms 516 Shakti Vihar Pitampura,Pitampura,Delhi,₹ 2249,₹ 1687,25% OFF,SOLD OUT